/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
}

.dashBoardTitle {
  color: rgb(92, 32, 32);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #2c3e50;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 1.8em;
  margin: 0;
}

.header .user-info {
  font-size: 1em;
}

.btn-logout {
  background-color: #ff4b5c;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 10px;
}

.btn-logout:hover {
  background-color: #d43f4a;
}

/* Container and table styles */
.container {
  max-width: 1800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f4f4f9;
  font-weight: bold;
}

table tbody tr:hover {
  background-color: #f9f9f9;
}

.btn-new-entry {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 15px;
}

.btn-new-entry:hover {
  background-color: #2980b9;
}

.btn-edit,
.btn-delete {
  padding: 8px 12px;
  font-size: 0.9em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit {
  background-color: #2ecc71;
  color: white;
}

.btn-edit:hover {
  background-color: #27ae60;
}

.btn-delete {
  background-color: #e74c3c;
  color: white;
}

.btn-delete:hover {
  background-color: #c0392b;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-save {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #2980b9;
}

.close {
  float: right;
  font-size: 1.5em;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.actions-header {
  width: 140px;
  text-align: left; /* You can change this as needed */
}
